@import './ui.css';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f3542;
  font-family: "Exo 2", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  padding: 40px 0px 10px 0px;  
  font-weight: bold;
  color: #d0d0d0;
}

img {
  border-radius: 25px;
}

.gifs {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.gif {
  border-radius: 10px;
}

.gif img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c8504e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
